body {
    background-color: lightgray;
    color: black;
}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 18px;
}

img {
    height: 260px;
    width: auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

.page-link {
  font-size: 20px;
}

.table-data {
    font-size: 18px;
}

.button {
    height: 50px;
}